@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


* {
	font-size: 100%;
	font: optional: 'Ubuntu';
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	background: linear-gradient(90deg,#826788,#826788);;
	background-attachment: fixed;
	background-size: 100%;
  font-family: 'Oswald';
  font-weight: 700;
}

h1 {
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 40px;
  -webkit-text-stroke: 0.7px #704153;
  text-shadow: 0px 3px 1px #b18597;
}

#rod, #presets, #options {
	margin-top: 3vh;
	width: 100%;
	text-align: center;
	color: #fff;
}

/* График */
#rod canvas {
	border: solid #EEE 3px;
	border-radius: 25px;
	box-shadow: -5px -5px 0.8em 1px #000;
}



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Меню */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  .menu {
  	display: absolute;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    font-size: 150%;
	font-family: 'Ubuntu';
  
	margin: 0;
	padding: 0;
	outline: none;
	box-shadow: 0 0 0 7px #222222;
	list-style-type: none;
	
}

/* Ссылки в меню */
.menu a {
    padding: 20px 0px 0px 15px;
    text-decoration: none;
    color: #6F947E;
    display: block;
}

/* Смена цввета при наведении */
.menu a:hover {
    color: #f1f1f1;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Время */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.showtime {
    padding: 420px 8px 6px 15px;
    text-decoration: underline;
    color: #C4CA98;
    display: absolute;
    

}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* 
Кнопки
Оригинал: https://codepen.io/kathykato/pen/gOOjgmP
*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  .knopki {
    font-weight: 600;
    color: #382b22;
    font-family: 'Oswald';
    font-weight: 600;
    font-size: 120%;
    padding: 1.25em 2em;
    background: #ffffff;
    border: 2px solid #b18597;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 90%;
      top: 0px;
      left: 0;
      right: 0;
      bottom: 0;
      background: #ffc4d2;
      border-radius: inherit;
      box-shadow: 0 0 0 2px #b18597, 0 0.25em 0 0 #ffe3e2;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    &:hover {
      background: #ffeeee;
      transform: translate(0, 0.25em);
      cursor:pointer;
      &::before {
        box-shadow: 0 0 0 2px #b18597, 0 0.1em 0 0 #ffe3e2;
        transform: translate3d(0, 0.5em, -1em);
      }
    }
    &:active {
      color: #ffffff;
      background: #000000;
      cursor:grabbing;
      transition: background-color 0.2s ease-in-out;
	}
}


/* Надпись над слайдером  */
#options {
	font-size: 30px;
}

#slidercontainer {
	width: 75%;
	margin: auto;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* 
Слайдер
Оригинал: https://codepen.io/anthorr/pen/poZJVmY
*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

input[type=range] {
  text-align: center;
  width: 72.7rem;
  height: 1.25rem;

  -webkit-appearance: none;
  background: linear-gradient(180deg, #b18597, #ffe3e2, #ffffff);
  border-radius: 1rem;

  /*Обводка слайдера*/
  outline: 6px ridge hsl(349, 100%, 91%);
  outline-offset: 0.5rem;
  box-shadow: 0 3px 2px -1px rgba(255, 255, 255, 0.25) inset, 0 0 10px 0 rgba(0, 0, 0, 0.5), 0 0 10px 2px rgba(0, 0, 0, 0.25), 0 8px 4px -3px rgba(0, 0, 0, 0.15);
}

/* Черта внутри */
input[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, #000000, #111111,  #222220 ,#333333);
  width: 23rem;
  height: 0.35rem;
  margin: 0 0.5rem;
  border: solid #000 0.07rem;
  border-radius: 1rem;
}

/*Ползунок */
input[type=range]::-webkit-slider-thumb {
  transform: translatey(-1.375rem);
  width: 3rem;
  height: 3rem;
    background: radial-gradient(#444 45%, #555 50%, #222 55%, #ffb9af 57.5%, #ffe3e2 100%), conic-gradient(#4b4b4b 10deg, #777 45deg, #5b5b6b 70deg, #9f9f9f 105deg, #444 140deg, #AAA 185deg, #666 210deg, #999 245deg, #777 285deg, #9f9f9f 320deg, #4b4b4b);
  background-blend-mode: overlay;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.35) inset, 0 1px 1px 1px rgba(255, 255, 255, 0.25) inset, 0 0 2px 2px rgba(0, 0, 0, 0.15) inset, 0 1px 1px 1px rgba(0, 0, 0, 0.35), 0 3px 2px 1px rgba(0, 0, 0, 0.25), 0 6px 4px 3px rgba(0, 0, 0, 0.15);
  border-radius: 1.5rem;
  -webkit-appearance: none;
  cursor: grab;
}

body input[type=range]::-webkit-slider-thumb:active {
  cursor: grabbing;
}

/* Подписи ползунка  */
datalist {
  font-size: 90%;
  font-family: 'Oswald';
  display: inline-flex;
  width: 72.72rem;
  height: 2.2rem;
  margin: 0 0.35rem;
  justify-content: space-between;
  color: #382b2f;
  line-height: 1.25;
  transform: translatey(1rem);
  text-align: center;
}

/*Обводка подписей*/
datalist > option {
  font-weight: 600;
  z-index: 1;
  display: flex;
  position: relative;
  padding: 0 0.25rem;
  border: 1px solid #b18597;
  background: #ffffff;
  border-radius: 0.5rem;
  text-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 1.3px #b18597, 0 0.15em 0 0 #ffe3e2;
      transform: translate3d(0, -0.38em, -1em);
}

/*Соединение */
datalist > option:before {
  content: '';
  display: inline-block;
  position: relative;
  left: 50%;
  height: 1.15rem;
  width: 3px;
  background:#b18597;
  transform: translatey(-100%);
}


.graph {
	background: #fff;
}