@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  font-size: 100%;
  font-family: 'Oswald';
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  outline: none;
  list-style-type: none;
  font-weight: 600;
}

/* Проверка границ
table,td,tr,th {border: 1px solid #000;}S
 */
hr{
    border: 4px double #162037;
}

body{
  display: absolute;
  position: inherit; 
  font-family: 'Oswald';
  height: 100%;
  width: 88%;
  margin-left: 11.5%;   /* Поставить такой же, как и ширину боковой панели */
  background: linear-gradient(90deg,#384259,#384259);
  background-attachment: absolute;
  background-size: 100%;
  color:#F0EADF;
  -webkit-text-stroke: 0.03em #000;
  text-shadow: 1px 1px #333, 3px 3px 0px #000;
}

.controls{
  width: 100%;
  height: 100%;

}

.menu {
  display: absolute;
  height: 100%; 
  width: 11%; /* Ширина боковой панели (Изменить ширину body на такое же значение!) */
  position: fixed; /* Остается на месте при скролле */
  z-index: 1; 
  top: 1; 
  left: 0;
  background-color: #111;
  overflow-x: hidden; /* Отключить горизонтальный сролл */
  padding-top: 20px;
  font-size: 180%;
  font-weight: 700;
  font-family: 'Oswald';
  margin: 0;
  padding: 0;
  outline: none;
  box-shadow: 0 0 0.15em 4px #000;
}

.menu table,.menu td{
  text-align: start;
  align-content: start;
  height: 100%;
  width: 100%;
}


/* Ссылки в меню */
.menu a {
  padding: 10px 0px 0px 15px;
  text-decoration: none;
  color: #6F947E;
  display: grid;
  margin-top: 2vh; /* Расстояние между ссылками */
  text-shadow: 2px 2px #333, 4px 4px 4px #000;
}

/* Смена цввета при наведении */
.menu a:hover {
    color: #f1f1f1;
    text-shadow: 3px 3px 1px #000;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Время */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.showtime {
    padding: 0 8px 6px 15px;
    color: #C4CA98;
    display: grid;
    text-shadow: 2px 2px #333, 4px 4px 4px #000;
    height: 10%;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Страница */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Заголовок */
.headesthead{
  font-size: 2.5rem;
  color: #D3BF97;
  -webkit-text-stroke: 0.07rem #000;
  text-shadow: 0px 0.2rem 0.05rem #35312A;
}

table,tr,th{
  width: 100%;
  max-width: 100%;
  height: 100%;
  text-align: center;
}

#board,#Heat_2D_canvas {
  background-color: #000000;
}


#board{
    color: #000;
    border-radius:4px;
}


#T1C{
  width:250px;
  max-width: 250px;
}

/*Оформление таблицы */
.Heat{
  border:5px solid #000; 
  border-radius:7px; 
  margin-bottom: 5px;
  box-shadow:  10px 0 0.3em  0.2em #162037;
}

.ctlTime{
  font-size:30px;
  background: #101423;
  border: 3px double #162037;
  box-shadow:  0 0.1em 0.1em  0em #111;
}

.board,.outaboard{
  background: #070707;
  border: 3px double #162037;
box-shadow:  0 0.2em 0.1em  0em #111;
}

 .themetext,.numheatsliders,.statusheat,.buttons_block{
  text-align: center;
  font-size: 200%;
  font-weight: 700;
  background: #101423;
  border: 5px double #162037;
  box-shadow:  0 0.1em 0.1em  0em #111;
  }

  .buttons_block{
    font-size: 100%;
      box-shadow:  0 0.2rem 0.1em  0em #111;
      height: 50px;
  }

/* Надпись с управлением */
.controlrules{
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #47957D;
  font-weight: 600;
  font-size: 160%;

  background-attachment: absolute;
  background-size: 100%;
  border-radius: 10px;
}

.controlrules td {
border: 3px solid #000;
padding: 10px 10px;
border-radius: 10px;
box-shadow: 0px 2px 10px 0em #000;
}




/* На экранах меньшего размера, где высота менее 450 пикселей, изменяет стиль боковой панели (меньше отступов и меньший размер шрифта). */
@media screen and (max-height: 450px) {
    .menu {padding-top: 15px;}
    .menu a {font-size: 18px;}
}

.knopki{
    margin-bottom: -0.4vh;
    color: #000;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 120%;
    padding: 1.25em 2em;
    background: #C2B396;
    border: 3px solid #170109;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    min-width: 100%;
    box-shadow:  2px 3px 0.23em 0 #000;
    width: 150px;
    }

.knopki:hover,.activebuttonpause{
      background: #4a1517;
      color: #fff;
      border: 3px ridge #170109;
      transform: translate(0, 0.25em);
      cursor:pointer;
    }

.knopki:active,.theme:active{
      color: #ffffff;
      background: #150007;
      border: 1px ridge #000;
      cursor:grabbing;
      transition: background-color 0.2s ease-in-out;
  }

/* Кнопка "Очистить"  */
  .clearbut{
    margin-top: -1vh;
    margin-right: 4rem;
    min-width: 10%;
    height: 50px;
    padding: 0 0;
  }


/* Темы */
  .theme{
    font-family: 'Oswald';
    min-width: 40px;
    width: 50px;
    font-size: 90%;
    color: #000;
    border-radius: 1rem;
    border: 2px solid #000;
    text-align: center;
    font-weight: 300;
    background: #C2B396;
    border: 5px double #162037;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  }

  .theme:hover{
      background: #4a1517;
      color: #fff;
      border: 3px ridge #170109;
      transform: translate(0, -0.1em);
      cursor:pointer;
    }

 .activebutton{
    color: #000;
    background: #F0EADF;
    border: 5px double #162037;
  }


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Слайдеры*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.numheatsliders{
  font-size:20px;
}

body input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 320px;
  background-color: transparent;
  outline: 3px   hsl(0, 0%, 0%);
  border: 3px solid #000;
  border-radius: 0.75em;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-bottom: 5px solid #111;

}
body input[type=range]:focus {
  outline-color: #f8b195;
}

/* Черта Градиент */
body input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  border-radius: 1.75em;

}

/*Ползунок */
body input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border:  3px solid #aaa;
  background: #fff;
  border-radius: 100% 100% 100% 100%;
  height: 25px;
  width: 25px;
  position: relative;
  bottom: 8px;
  background-size: 50%;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 1);
  cursor: grab;
  transform: rotate(0deg);
}

body input[type=range]::-webkit-slider-thumb:active {
  background: #333;
  border:  3px ridge #000;
  cursor: grabbing;
  filter: hue-rotate(90deg);
}

/* Температурные слайдеры */
.TemperatureSlider::-webkit-slider-runnable-track{
   background: linear-gradient(to right, #5555ff 0%, #ffa000 40%, #ff0000 90%, #660000 100%);
}

/* Остальные слайдеры  */
.OtherSlider::-webkit-slider-runnable-track{
   background: linear-gradient(to right, #425938 0%, #ffa000 40%, #593842 90%);

}


/*Ползунок со временем */
#ctlTime{
  width: 420px;
  &::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  background: linear-gradient(to right, #000002 14%,  #ff0000 100%);
  text-align: center;}
  }



/*Значения ползунков*/
#h4-container {
  width: 295px;
  max-width: 100%;
  padding: 0 20px;

}

#h4-container #h4-subcontainer {
  width: 100%;
  position: relative;

}

#h4-container #h4-subcontainer h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  margin-top: -5.48rem;
  width: 40px;
  height: 40px;
  color: #eee !important;
  font-size: 18px;
  transition: margin-top 0.25s ease-in-out, opacity 0.05s ease-in-out;
  filter: drop-shadow(0px 2px 0px hsl(0 0% 0%));

}

#h4-container #h4-subcontainer h4 span{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline:4px ridge hsl(190 40% 20%);
  background: #000;
  filter: drop-shadow(2.3rem 2.8rem 25px hsl(190 100% 50%));
  border-radius: 100% 10% 0 ;
  transform: rotate(45deg);
  z-index: -1;
  text-align: center;
}

.h4time{
  &#h4-container{
  width: 397px;
  margin-left: 11.4rem;
}
}

input:not(:active) + #h4-container h4 {
  opacity: 0;
  margin-top: 500px;
  pointer-events: none;
  transition: margin-top 0.55s ease-in-out, opacity 0.05s ease-in-out;
}

/*Статусбар*/
.statusheat {
  vertical-align: middle;
  color: #fff;
  width: 300px;
  height: 30px;
  max-width: 300px;
  max-width: 300px;
  max-height: 50px;
  font-size: 140%;
  text-align: justify-all;

}

/* Загрузка */
.loader {
    width: 40px;
    height: 40px;
    border: 7px double #fff;
    border-top-color: #F73859;
    border-bottom-color: #F03859;
    border-radius: 100%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 3s linear infinite;
    background-origin: 1px ;
    align-content: center;
    text-align: center;
    background-color: hsl(7,4%,10%);
    margin-right: 2vh;
    }
    @keyframes rotation {
    0% {
        transform: rotate(0deg);   
    }

    50%{
        filter: blur(0.5px);
        transform: rotate(360deg); 
        border:20px double #000;
    }

    50%{
      transform: rotate(1080deg);
      filter: blur(1px);
    }

    75%
    {
        transform: rotate(1440deg);
        border: 7px double #FFF;
    }

    100% {
        transform: rotate(1440deg);
    }
    }



/*Формы для заполнения*/
.forms {
 background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
.forms:hover {
      
    }   
.forms:focus {

      }   
.forms:valid {
  border: 10px solid;
  border-color: forestgreen;
}
.forms:invalid {
  border: 10px solid;
  border-color: firebrick;
}



