@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  font-size: 100%;
  font: optional: 'Ubuntu';
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  outline: none;
  list-style-type: none;
}

/* Проверка границtable,td,tr,th
{border: 1px solid #fff;}*/



body{
  display: absolute;
  position: inherit; 

  height: 100%;
  width: 87%;
  margin-left: 12%;   /* Поставить такой же, как и ширину боковой панели */
  background: linear-gradient(270deg,#000,#3c030f);
  background-attachment: absolute;
  background-size: 100%;
  color:#fff;
}



.menu {
  display: absolute;
  height: 100%; 
  width: 11%; /* Ширина боковой панели (Изменить ширину body на такое же значение!) */
  position: fixed; /* Остается на месте при скролле */
  z-index: 1; 
  top: 1; 
  left: 0;
  background-color: #111;
  overflow-x: hidden; /* Отключить горизонтальный сролл */
  padding-top: 20px;
  font-size: 180%;
  font-weight: 700;
  font-family: 'Ubuntu';
  margin: 0;
  padding: 0;
  outline: none;
  box-shadow: 0 0 0.15em 4px #000;
}

.menu table,.menu td{
  text-align: start;
  align-content: start;
  height: 100%;
  width: 100%;
}


/* Ссылки в меню */
.menu a {
  padding: 10px 0px 0px 15px;
  text-decoration: none;
  color: #6F947E;
  display: grid;
  margin-top: 2vh; /* Расстояние между ссылками */
  text-shadow: 2px 2px #333, 4px 4px 4px #000;
}

/* Смена цввета при наведении */
.menu a:hover {
    color: #f1f1f1;
    text-shadow: 3px 3px 1px #000;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Время */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.showtime {
    padding: 0 8px 6px 15px;
    color: #C4CA98;
    display: grid;
    text-shadow: 2px 2px #333, 4px 4px 4px #000;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Страница */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Заголовок */
.headesthead{
  font-size: 2.3rem;
  margin: 10px;
  text-align: center;
}

table,tr,th{
  width: 100%;
  height: 100%;
  text-align: center;
}


#board,#Heat_2D_canvas {
  width: 700px;
  height: 700px; 
}


.Heat{
  border:5px solid #000000; 
  border-radius:7px; 
  margin-bottom: 5px;
  background-color: #000000;
  box-shadow:  10px 0 0.3em  0.2em #000;;
}

/* Надпись с управлением */
.control{
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #47957D;
  font-weight: 600;
  font-size: 160%;
  background: linear-gradient(to left, #44e 0%, #000 37%,#000 65%, #c11 80%,#600 99%);
  background-attachment: absolute;
  background-size: 100%;
  border-radius: 10px;
  

}

.control td {
border: 3px solid #000;
padding: 10px 10px;
border-radius: 10px;
box-shadow: 0px 2px 10px 0em #000;
}


/* На экранах меньшего размера, где высота менее 450 пикселей, изменяет стиль боковой панели (меньше отступов и меньший размер шрифта). */
@media screen and (max-height: 450px) {
    .menu {padding-top: 15px;}
    .menu a {font-size: 18px;}
}

.knopki {
    margin-top: 2vh;
    color: #fff;
    font-family: 'Oswald';
    font-weight: 600;
    font-size: 120%;
    padding: 1.25em 2em;
    background: #47957D;
    border: 3px solid #022B1F;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    min-width: 100%;
    box-shadow:  2px 3px 0.6em 0 #000;
    }

.knopki:hover {
      background: #4a1517;
      color: #fff;
      border: 3px ridge #170109;
      transform: translate(0, 0.25em);
      cursor:pointer;
    }
.knopki:active {
      color: #ffffff;
      background: #150007;
      border: 1px ridge #000;
      cursor:grabbing;
      transition: background-color 0.2s ease-in-out;
  }

  /* Кнопка "Очистить"  */
  .clearbut{
    margin-left: 7vh;
    margin-top: 0;
    min-width: 20%;
  }

  /* Темы */

  .themetext{
  text-align: left;
  font-size: 120%;
  font-weight: 600;
  }

  .theme{
    font-family: 'Ubuntu';
    width: 30px;
    height: 30px;
    padding: 0em 0em;
    min-width: 25%;
    min-height: 25%;
    font-size: 100%;
  }


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Слайдеры*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


body input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 280px;
  background-color: transparent;
  outline: 3px   hsl(0, 0%, 0%);
  border: 2px solid #b18597;
  border-radius: 0.75em;
  margin-top: 0.25vh;
  margin-bottom: 2.5vh;
}
body input[type=range]:focus {
  outline-color: #f8b195;
}

/* Черта Градиент */
body input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  background: linear-gradient(to right, #5555ff 0%, #ffa000 40%, #ff0000 90%);
  box-shadow: 1px 1px 1em 2px #000000, -0.5px -0.5px 0.15em 0px #ffffff, 0 0 1em 1px #000;
}

/*Ползунок */
body input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border:  2px solid #fff;
  border-radius: 70%;
  height: 20px;
  width: 20px;
  position: relative;
  bottom: 8px;
  background: #000;
  background-size: 50%;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 1);
  cursor: grab;
}
body input[type=range]::-webkit-slider-thumb:active {
  cursor: grabbing;
}

/*Ползунок со временем */
#ctlTime{
  width: 420px;
  &::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  background: linear-gradient(to right, #aaa 0%, #bbb 50%, #ccc 90%);
  box-shadow: 2px 1px 1em 2px #000000, -0.5px -0.5px 0.1em 0px #cccccc  -webkit-appearance: none;
  text-align: center;
    }

}

/* Загрузка */
.loader {
    width: 35px;
    height: 35px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }


.forms {
 background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.forms:hover {
      
    }
          
.forms:focus {

      }
    
.forms:valid {
  border: 10px solid;
  border-color: forestgreen;
}



.forms:invalid {
   border: 10px solid;
  border-color: firebrick;
}

